In [1]:
import numpy as np
import pandas as pd
import

In [2]:
data = pd.read_csv("GlobalLandTemperaturesByCity.csv")

In [3]:
data.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E

In [7]:
data.dropna(axis=0 ,inplace=True)

In [16]:
data[data["City"]=="Mangaluru"]

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
4606500,1796-01-01,24.333,2.243,Mangaluru,India,13.66N,75.14E
4606501,1796-02-01,25.472,1.397,Mangaluru,India,13.66N,75.14E
4606502,1796-03-01,26.788,2.369,Mangaluru,India,13.66N,75.14E
4606503,1796-04-01,28.367,1.677,Mangaluru,India,13.66N,75.14E
4606504,1796-05-01,27.843,1.321,Mangaluru,India,13.66N,75.14E
4606505,1796-06-01,24.962,3.611,Mangaluru,India,13.66N,75.14E
4606506,1796-07-01,23.141,2.516,Mangaluru,India,13.66N,75.14E
4606507,1796-08-01,23.658,3.302,Mangaluru,India,13.66N,75.14E
4606508,1796-09-01,24.245,3.670,Mangaluru,India,13.66N,75.14E
4606509,1796-10-01,24.277,1.571,Mangaluru,India,13.66N,75.14E
4606510,1796-11-01,24.138,3.362,Mangaluru,India,13.66N,75.14E
4606511,1796-12-01,22.825,4.478,Mangaluru,India,13.66N,75.14E
4606514,1797-03-01,27.430,2.038,Mangaluru,India,13.66N,75.14E
4606515,1797-04-01,27.987,3.015,Mangaluru,India,13.66N,75.14E
4606516,1797-05-01,27.605,2.547,Mangaluru,India,13.66N,75.14E
4606517,1797-06-01,26.256,2.137,Mangaluru,India,13.66N,75.14E
4606518,1797-07-01,23.713,2.479,Mangaluru,India,13.66N,75.14E
4606519,1797-08-01,24.614,2.514,Mangaluru,India,13.66N,75.14E
4606520,1797-09-01,24.423,2.992,Mangaluru,India,13.66N,75.14E
4606521,1797-10-01,24.039,2.107,Mangaluru,India,13.66N,75.14E
4606522,1797-11-01,23.842,1.707,Mangaluru,India,13.66N,75.14E
4606523,1797-12-01,24.095,2.678,Mangaluru,India,13.66N,75.14E
4606524,1798-01-01,24.385,2.280,Mangaluru,India,13.66N,75.14E
4606525,1798-02-01,26.065,1.832,Mangaluru,India,13.66N,75.14E
4606526,1798-03-01,28.282,1.761,Mangaluru,India,13.66N,75.14E
4606529,1798-06-01,25.851,2.260,Mangaluru,India,13.66N,75.14E
4606530,1798-07-01,24.627,2.297,Mangaluru,India,13.66N,75.14E
4606531,1798-08-01,24.330,4.494,Mangaluru,India,13.66N,75.14E
4606532,1798-09-01,24.494,2.760,Mangaluru,India,13.66N,75.14E
4606533,1798-10-01,24.565,2.167,Mangaluru,India,13.66N,75.14E
...,...,...,...,...,...,...,...
4609082,2011-03-01,28.251,0.367,Mangaluru,India,13.66N,75.14E
4609083,2011-04-01,28.294,0.332,Mangaluru,India,13.66N,75.14E
4609084,2011-05-01,28.363,0.204,Mangaluru,India,13.66N,75.14E
4609085,2011-06-01,25.359,0.252,Mangaluru,India,13.66N,75.14E
4609086,2011-07-01,23.984,0.424,Mangaluru,India,13.66N,75.14E
4609087,2011-08-01,24.172,0.257,Mangaluru,India,13.66N,75.14E
4609088,2011-09-01,24.816,0.427,Mangaluru,India,13.66N,75.14E
4609089,2011-10-01,25.786,0.471,Mangaluru,India,13.66N,75.14E
4609090,2011-11-01,25.613,0.336,Mangaluru,India,13.66N,75.14E
4609091,2011-12-01,24.960,0.454,Mangaluru,India,13.66N,75.14E
4609092,2012-01-01,24.879,0.237,Mangaluru,India,13.66N,75.14E
4609093,2012-02-01,26.500,0.238,Mangaluru,India,13.66N,75.14E
4609094,2012-03-01,28.311,0.391,Mangaluru,India,13.66N,75.14E
4609095,2012-04-01,28.877,0.542,Mangaluru,India,13.66N,75.14E
4609096,2012-05-01,28.558,0.263,Mangaluru,India,13.66N,75.14E
4609097,2012-06-01,25.977,0.506,Mangaluru,India,13.66N,75.14E
4609098,2012-07-01,25.067,0.337,Mangaluru,India,13.66N,75.14E
4609099,2012-08-01,24.747,0.262,Mangaluru,India,13.66N,75.14E
4609100,2012-09-01,25.222,0.200,Mangaluru,India,13.66N,75.14E
4609101,2012-10-01,25.938,0.485,Mangaluru,India,13.66N,75.14E
4609102,2012-11-01,25.632,0.247,Mangaluru,India,13.66N,75.14E
4609103,2012-12-01,25.759,0.402,Mangaluru,India,13.66N,75.14E
4609104,2013-01-01,25.755,0.328,Mangaluru,India,13.66N,75.14E
4609105,2013-02-01,27.060,0.672,Mangaluru,India,13.66N,75.14E
4609106,2013-03-01,28.909,0.411,Mangaluru,India,13.66N,75.14E
4609107,2013-04-01,29.312,0.707,Mangaluru,India,13.66N,75.14E
4609108,2013-05-01,29.064,0.322,Mangaluru,India,13.66N,75.14E
4609109,2013-06-01,24.973,0.397,Mangaluru,India,13.66N,75.14E
4609110,2013-07-01,24.017,0.541,Mangaluru,India,13.66N,75.14E
4609111,2013-08-01,24.458,0.324,Mangaluru,India,13.66N,75.14E

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
5,1744-04-01,5.788,3.624,Århus,Denmark,57.05N,10.33E
6,1744-05-01,10.644,1.283,Århus,Denmark,57.05N,10.33E
7,1744-06-01,14.051,1.347,Århus,Denmark,57.05N,10.33E
8,1744-07-01,16.082,1.396,Århus,Denmark,57.05N,10.33E
10,1744-09-01,12.781,1.454,Århus,Denmark,57.05N,10.33E
11,1744-10-01,7.950,1.630,Århus,Denmark,57.05N,10.33E
12,1744-11-01,4.639,1.302,Århus,Denmark,57.05N,10.33E
13,1744-12-01,0.122,1.756,Århus,Denmark,57.05N,10.33E
14,1745-01-01,-1.333,1.642,Århus,Denmark,57.05N,10.33E
15,1745-02-01,-2.732,1.358,Århus,Denmark,57.05N,10.33E
16,1745-03-01,0.129,1.088,Århus,Denmark,57.05N,10.33E
17,1745-04-01,4.042,1.138,Århus,Denmark,57.05N,10.33E
74,1750-01-01,1.699,1.013,Århus,Denmark,57.05N,10.33E
75,1750-02-01,3.961,2.361,Århus,Denmark,57.05N,10.33E
76,1750-03-01,5.182,3.480,Århus,Denmark,57.05N,10.33E
77,1750-04-01,7.197,0.732,Århus,Denmark,57.05N,10.33E
78,1750-05-01,10.634,1.351,Århus,Denmark,57.05N,10.33E
79,1750-06-01,14.913,1.181,Århus,Denmark,57.05N,10.33E
80,1750-07-01,17.831,1.220,Århus,Denmark,57.05N,10.33E
81,1750-08-01,16.848,0.736,Århus,Denmark,57.05N,10.33E
82,1750-09-01,13.143,1.021,Århus,Denmark,57.05N,10.33E
83,1750-10-01,5.251,1.258,Århus,Denmark,57.05N,10.33E
85,1750-12-01,-0.678,1.808,Århus,Denmark,57.05N,10.33E
86,1751-01-01,-0.623,1.700,Århus,Denmark,57.05N,10.33E
87,1751-02-01,-3.764,2.329,Århus,Denmark,57.05N,10.33E
88,1751-03-01,3.700,1.672,Århus,Denmark,57.05N,10.33E
89,1751-04-01,5.267,0.850,Århus,Denmark,57.05N,10.33E
91,1751-06-01,14.429,1.579,Århus,Denmark,57.05N,10.33E
92,1751-07-01,16.638,0.890,Århus,Denmark,57.05N,10.33E
...,...,...,...,...,...,...,...
8599181,2011-03-01,5.917,0.167,Zwolle,Netherlands,52.24N,5.26E
8599182,2011-04-01,12.554,0.153,Zwolle,Netherlands,52.24N,5.26E
8599183,2011-05-01,14.066,0.149,Zwolle,Netherlands,52.24N,5.26E
8599184,2011-06-01,16.273,0.267,Zwolle,Netherlands,52.24N,5.26E
8599185,2011-07-01,16.020,0.179,Zwolle,Netherlands,52.24N,5.26E
8599186,2011-08-01,16.975,0.139,Zwolle,Netherlands,52.24N,5.26E
8599187,2011-09-01,15.788,0.109,Zwolle,Netherlands,52.24N,5.26E
8599188,2011-10-01,11.337,0.221,Zwolle,Netherlands,52.24N,5.26E
8599189,2011-11-01,6.990,0.097,Zwolle,Netherlands,52.24N,5.26E
8599190,2011-12-01,5.722,0.261,Zwolle,Netherlands,52.24N,5.26E
8599191,2012-01-01,4.348,0.293,Zwolle,Netherlands,52.24N,5.26E
8599192,2012-02-01,0.376,0.290,Zwolle,Netherlands,52.24N,5.26E
8599193,2012-03-01,7.863,0.135,Zwolle,Netherlands,52.24N,5.26E
8599194,2012-04-01,8.101,0.168,Zwolle,Netherlands,52.24N,5.26E
8599195,2012-05-01,14.169,0.191,Zwolle,Netherlands,52.24N,5.26E
8599196,2012-06-01,14.702,0.342,Zwolle,Netherlands,52.24N,5.26E
8599197,2012-07-01,17.329,0.287,Zwolle,Netherlands,52.24N,5.26E
8599198,2012-08-01,18.588,0.224,Zwolle,Netherlands,52.24N,5.26E
8599199,2012-09-01,14.333,0.207,Zwolle,Netherlands,52.24N,5.26E
8599200,2012-10-01,10.358,0.208,Zwolle,Netherlands,52.24N,5.26E
8599201,2012-11-01,6.469,0.189,Zwolle,Netherlands,52.24N,5.26E
8599202,2012-12-01,4.303,0.341,Zwolle,Netherlands,52.24N,5.26E
8599203,2013-01-01,1.479,0.217,Zwolle,Netherlands,52.24N,5.26E
8599204,2013-02-01,1.559,0.304,Zwolle,Netherlands,52.24N,5.26E
8599205,2013-03-01,2.253,0.267,Zwolle,Netherlands,52.24N,5.26E
8599206,2013-04-01,7.710,0.182,Zwolle,Netherlands,52.24N,5.26E
8599207,2013-05-01,11.464,0.236,Zwolle,Netherlands,52.24N,5.26E
8599208,2013-06-01,15.043,0.261,Zwolle,Netherlands,52.24N,5.26E
8599209,2013-07-01,18.775,0.193,Zwolle,Netherlands,52.24N,5.26E
8599210,2013-08-01,18.025,0.298,Zwolle,Netherlands,52.24N,5.26E